<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>
        <tab id="nofraud" translate="label" sortOrder="512">
            <label>NoFraud</label>
        </tab>
        <section id="nofraud_connect" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Connect</label>
            <tab>nofraud</tab>
            <resource>NoFraud_Connect::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" 
                    sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_token" translate="label" type="obscure" 
                    sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Direct API Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="sandbox_enabled" translate="label" type="select" 
                    sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox Mode?</label>
                    <comment>While enabled, API requests are sent to apitest.nofraud.com.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="screened_order_status" translate="label" type="select" 
                    sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Screened Order Status</label>
                    <comment>If selected, only orders with this status will be screened by NoFraud.</comment>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="screened_payment_methods" translate="label" type="multiselect"
                    sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Screened Payment Methods</label>
                    <source_model>NoFraud\Connect\Model\Config\Source\PaymentMethod</source_model>
                    <can_be_empty>1</can_be_empty>
                    <comment>Screens all payment methods if none selected.</comment>
                </field>
                <field id="auto_cancel" translate="label" type="select"
                    sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto-cancel</label>
                    <comment>While enabled, all failed orders will automatically be cancelled.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="order_statuses" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Statuses</label>
                <comment>The following statuses will be applied to orders after checkout, according to the decision returned from NoFraud ("pass", "review", or "fail"). If no custom status is selected, NoFraud will still provide a transaction report but the order's status will not be changed.</comment>
                <field id="pass" translate="label" type="select" 
                    sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pass</label>
                    <comment></comment>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="review" translate="label" type="select" 
                    sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Review ("Pass" or "Fail" to be determined)</label>
                    <comment></comment>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="fail" translate="label" type="select" 
                    sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Fail (Fraud Detected)</label>
                    <comment></comment>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="error" translate="label" type="select" 
                    sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Error</label>
                    <comment>This status will be applied if NoFraud responds with an error message instead of a pass/review/fail decision.</comment>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
