<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Nextopia Software Corporation. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="nextopia" translate="label" sortOrder="500">
            <label>Nextopia</label>
        </tab>
        <section id="nextopia_search" translate="label" type="text" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Search v2.6</label>
            <tab>nextopia</tab>
            <resource>Nextopia_Search::config</resource>
            <group id="general" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration Fields</label>
                <field id="searchstatus" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <tooltip><![CDATA[Set this to "No" to use the default Magento search. Set this to "Yes" when you wish to make Nextopia Search live.]]></tooltip>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Nextopia\Search\Model\Config\Backend\NxtSearch</backend_model>
                </field>
                <field id="public_client_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public Client ID</label>
                    <tooltip><![CDATA[This can be obtained by visiting the Account section of the Nextopia control panel, and looking for "Public Client ID." It will look something like "1234567890abcdef1234567890abcdef" and is 32 characters long.]]></tooltip>
                </field>
                <field id="searchdemo" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Demo mode</label>
                    <tooltip><![CDATA[When this is set to "Yes", it will enable /nsearch url but will not default to it.  It will demonstrate our search, without enabling it on the site.  This setting is ignored when the module is enabled]]></tooltip>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Nextopia\Search\Model\Config\Backend\NxtSearch</backend_model>
                </field>
                <field id="default_content" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Loading Content</label>
                    <tooltip><![CDATA[This will be shown as the client waits for the content to load.]]></tooltip>
                </field>
                <field id="label_search_result_page" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label on search result page</label>
                    <tooltip><![CDATA[The default text is {Search results for "keyword"}]]></tooltip>
                </field>
            </group> 
        </section>
    </system>
</config>
