<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="eyehubspot" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Ecommerce121_HubSpot::config</resource>
            <group id="js_setting" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>JS</label>
                <field id="script_number" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Script Number</label>
                    <validate>validate-digits</validate>
                </field>
            </group>
        </section>
    </system>
</config>
