<div class="my-vehicle">
    <div class="title-info">
        <h3 data-bind="text: title"></h3>
        <!-- ko if: !!vehicleId -->
        <span class="delete-button" data-bind="text: '[DELETE]', event: { click: deleteVehicle }"></span>
        <!-- /ko -->
        <span data-bind="text: description"></span>
    </div>

    <!-- ko foreach: { data: activeDropdowns, as: 'dropdown'  } -->
    <div class="field">
        <label data-bind="i18n: dropdown.label, attr:{for: 'dropdown-' + dropdown.dropdownId}"></label>
        <span data-bind="text: dropdown.options[0]['label']"></span>
    </div>
    <!-- /ko -->
</div>
