<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Photoslurp_Pswidget::sample" title="Photoslurp">
                    <resource id="Photoslurp_Pswidget::items" title="Items"/>
                    <resource id="Photoslurp_Pswidget::export" title="Export"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Photoslurp_Pswidget::config" title="Photoslurp Widget" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>