<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="related_products" frontName="related_products">
            <module name="Ecommerce121_RelatedProducts" />
        </route>
    </router>
</config>
