<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\Finder\Block\Product\View\OptionsList">
        <plugin name="Ecommerce121_AmastyFinder::show-items-in-range-mode"
                type="Ecommerce121\AmastyFinder\Plugin\RangeFormatter" />
    </type>
</config>
