<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <nofraud_connect>
            <general>
                <enabled>0</enabled>
                <api_token backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <sandbox_enabled>0</sandbox_enabled>
                <auto_cancel>1</auto_cancel>
            </general>
        </nofraud_connect>
    </default>
</config>
