<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ecommerce121_partfinder>
            <general>
                <exclude_category_id>25,289,286</exclude_category_id>
            </general>
        </ecommerce121_partfinder>
    </default>
</config>
