<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="eyehubspot" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="newsletter_signup_from" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Newsletter Signup From</label>
                <field id="endpoint" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Endpoint</label>
                </field>
                <field id="request_parameter_mapping" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Request Parameter Mapping</label>
                    <frontend_model>Ecommerce121\NewsletterSignup\Block\Adminhtml\Form\Field\RequestParameterMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
