<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <resource>Ecommerce121_SearchSpring::settings</resource>
            <group id="searchspring" showInDefault="1" showInStore="1" showInWebsite="10" sortOrder="10" translate="label">
                <label>SearchSpring Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="site_id" translate="label" type="text" sortOrder="10" showInDefault="1">
                    <label>Site Id</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="options" translate="label" type="multiselect" sortOrder="20" showInDefault="1">
                    <label>Apply to</label>
                    <source_model>Ecommerce121\SearchSpring\Model\Store\Config\Source\Options</source_model>
                    <comment>Selected options will have SearchSpring feature active.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
